<footer style="margin-top: 50px;">
  <h2 style="margin: 50px 0 0 0;">NomadTaxPro Team</h2>
  <p style="margin: 0;">
    Feel free to contact us for any query
  </p>
  <a
    style="margin: 0;"
    href="https://google.com"
    style="text-decoration: underline;color: #11047A"
  >Contact Us</a>
</footer>