<header style="margin-bottom: 0; margin-top: 20px;">
  <h1
    style="font-size: 22px; font-weight: 700; text-align: center; color: #11047A;line-height: 20px; margin: 0;"
  >
    NomadTaxPro
  </h1>
  <p
    style="text-align: center; color: #1B2559; font-size: 16px; font-weight: 600; margin: 0;"
  >The HR platform for global business!</p>
</header>