<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>NomadTaxPro</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, viewport-fit=cover"
    />
  </head>

  <body>
    <div>
    {{> header}}
        <div style="display: flex;flex-direction: row;justify-content: center;align-items: center;flex-wrap: wrap;"  >
      <div style="padding: 2rem; border-radius: 10px;"  >
        <p style="font-weight: 700; font-size: 24px; color: #11047A;" >Email Verification</p>
          <p style="margin-top: 20px; font-weight: 16px;"  >
        We got a signup request from this email, please click the link below to verify your email address!
        </p>
         <a
         href={{verificationUrl}}
         style="background-color: #11047A; border-radius: 10px; border: none; outline: 0; min-width: 150px; color: white; height: 32px; font-size: 16px; font-weight: 600; margin: 20px 0; text-align: center; line-height: 32px; text-decoration: none; padding: 5px 20px; display: block; width: 150px;"
        >
          Verify Email
        <a/>
      <p  style="font-size: 14px; margin: 10px 0 0 0;" >
        This link is valid for an hour
      </p>
      <p  style="font-size: 14px;margin: 0;" >*If you did not attempt to register an account on our platform, please ignore this email, Thanks</p>
    {{> footer}}
      </div>
    </div>
    </div>
  </body>
</html>